*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-image: linear-gradient(230deg, #211330 50%, #22093b, #500998);
  color: #fff;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 100vh;
  background-image: url('../img/banner-hero.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section .formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 100px 0px;
}
h1 {
  font-size: clamp(2.5rem, 10vw, 5rem);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem;
  letter-spacing: 0.4rem;
  color: #fff;
  text-shadow: 0 0 50px rgba(255, 255, 255, 0.977);
  margin-bottom: 15%;
  opacity: 0;
  animation: entrada 1s ease forwards;
}

legend {
  font-size: 1.1rem;
  font-weight: bold;
  color: #ffffffc7;
  text-transform: uppercase;
  margin-bottom: 12px;
  letter-spacing: 1.5px;
}

fieldset {
  margin-top: 20px;
  border: none;
}

.sem-regex,
.com-regex {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.sem-regex p,
.com-regex p{
  font-size: 2rem;
  font-weight: bold;
  color: #ffffffc7;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-shadow: 0 0 50px rgba(255, 255, 255, 0.977);

}
.sem-regex:hover{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.com-regex:hover{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out
}

form {
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  background: rgba(11, 3, 13, 0.371);
  border: 1px solid rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(30px);
}

input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.03);
  color: #fff;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.423);
}

label {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 4px;
}

.btnsubmit {
  width: 100%;
  padding: 12px 32px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  background-image: linear-gradient(130deg, #6714B6, #6F15FE, #B41BFF);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.btnsubmit:hover {
  background: linear-gradient(130deg, #4c0d86, #360a7e, #56087d);
  transform: translateY(-2px);
}

.btnreset {
  width: 100%;
  padding: 12px 0px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: #ffffffae;
  background: rgba(156, 154, 154, 0.43);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.btnreset:hover {
  color: #ffffff;
  transform: translateY(-2px);
  background: rgba(177, 175, 175, 0.527);
}

.container-btn-acoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  margin-top: 12px;
}

.container-caixa-campos {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.container-caixa-input {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

footer {
  width: 100%;
  padding: 30px;
  text-align: center;
  color: #ffffffb2;
  border-top: 1px solid #ffffff73;
  background-color: #2d1b414c;
  backdrop-filter: blur(30px);
}

.seta-down {
  animation: flutuar 2s ease-in-out infinite;
  filter: drop-shadow(0 0 6px #fff);
  opacity: 0;
  margin-bottom: 5px;
  animation: entrada 1s ease forwards, flutuar  2s ease-in-out 3s infinite;
}

.botao-subir {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  display: none;
  width: auto;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
  animation: flutuar 2s ease-in-out infinite;
  filter: drop-shadow(0 0 6px #fff);
}

@keyframes flutuar {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(10px);
    opacity: 0.8;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes entrada {
  0% {
    opacity: 0;
    transform: translateY(-20px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

